.navbar {
  background-color: #bdc3c7 !important;
  border-bottom: 1px solid #2c3e50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
  color: #34495e !important;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.navbar .navbar-brand:hover {
  color: #2c3e50 !important;
}

.nav-link {
  font-size: 1.2rem;
  color: #2c3e50 !important;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #34495e !important;
}

.navbar h6 {
  margin-top: 0px;
  margin-right: 20px;
  color: #2c3e50;
  font-size: 1rem;
}
